{% extends "core/base.html" %}

{% block titulo %}
Galeria de Flores - Pétalos
{% endblock titulo %}

{% load static %}

{% block contenido %}
<center>
    <h2>Listado Flores</h2>
</center>
<center>
    <!-- se carga las flores desde la base de dato mostrando como lista --->
    <div style="float: none; background-color: violet; margin: 115px; border-radius: 15px;">
        {% for p in lista %}
        <div class="Floreria" class="card" style="width: 118px;margin: 15px; float: left;background-color: violet; border-radius: 15px;">
            <img src="{{p.imagen.url}}" width="100" height="150" style="border-radius: 15px;">
            <h3 class="card-title">{{p.name}} </h3>
            <p class="card-text">{{p.descripcion}}</p>
            <h5 class="card-text">{{p.valor}}</h5>
            <div> <a href="{% url 'Carrito'%}" class="btn btn-primary">Agregar a Carrito</a> </div>
        </div>
        {% endfor %}
    </div>
</center>
{% endblock contenido %}